.main-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header header header"
                         "main main right"
                         "footer footer footer";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
 }

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.top-nav {
    align-items: center;
    background: #081d3f;
    color: white;
    display: flex;
    grid-area: header;
    justify-content: flex-end;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 7rem;
    width: 24rem;
}

.nav__Links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    color: #fafafa
}

.nav__links a:hover,
.nav__links a:focus {
    background-color: #fafafa;
    color: #081d3f;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}

.link {
    color: white;
    display: flex;
}
  
.link:visited {
    color: white;
}
  
.link:hover,
.link:focus {
    background-color: #fafafa;
    color: #081d3f;
}

.logo {
    display: flex;
}

.link:active {
    color: white;
}

.main-content {
    background: #081d3f;
    grid-area: main;
 }

 .contact-me {
    background: #fcd41f;
    grid-area: right;
    justify-items: center;
 }

 .footer {
    background: #081d3f;
    display:grid;
    grid-area: footer;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
 }

 .site-map {
    display: flex;
 }

 .site-map ul {
    background-color: #081d3f;
    list-style: none;
    overflow: hidden;
}

.random-fact ul {
    background-color: #081d3f;
    display: flex;
    list-style: none;
    overflow: hidden;
}

.copyright {
    align-items: center;
    display: flex;
    grid-column: 2 / 3;
    grid-row: 3 / 2;
    justify-content: center;
}

 .grid {
    color: white;
    font-size: 1.5em;
    text-align: left;
    padding: 4rem;
 }

 
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }

input[type=submit] {
    background-color: #035fbd;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #025993;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid white;
}


#top-players td, #top-players th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#top-players tr:nth-child(even){
    background-color: #0377b1;
}

#top-players tr:nth-child(odd){
    background-color: white;
}
  
#top-players tr:hover,
tr:focus {
    background-color: darkgrey;
}
  
#top-players th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkgrey;
    color: white;
}

.social-icons {
    align-items: center;
    display: flex;
    height: 5rem;
    justify-content: space-evenly;
    list-style: none;
}

.social-icons__link {
    font-size: 2.5rem;
}

.social-icons__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    width: 5rem;
} 

.fa:hover {
    color: #0377b1;
}
  
.fa-facebook {
    color: white;
}
  
.fa-twitter {
    color: white;
}

.fa-instagram {
    color: white;
}

.fa-youtube {
    color: white;
}

/* body {
    background-color: #042b69;
    color: white;
  }

.nav-container {
    display:flex
}

.nav-container > li {
    color: white;
    flex-basis: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.title {
    color: #eddd2b;
    font-size: 3rem;
  }

.subtitle {
    color: #eddd2b;
    font-size: 2rem;
}

.responsive {
    width: 100%;
    height: auto;
}

    aside {
        /* color: white;
        display: flex;
        font-size: 1.5rem; */
    /* }
@media only screen and (min-width: 600px) {
    aside {
        
    }
}

p {
    color: white;
    display: flex;
    font-size: 1.5rem;
}

.site-map {
    color: white;
    list-style: none;
}

.social-icons {
    border: 2px solid yellow;
    align-items: center;
    display: flex;
    height: 5rem;
    justify-content: space-evenly;
    list-style: none;
}

.social-icons__link {
    border: 2px solid red;
    font-size: 3rem;
}

.social-icons__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: white;
    height: 100%;
    text-align: center;
    text-decoration: none;
    width: 5rem;
} 

.random-fact {
}

.footer-container {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: space-evenly;
}

.copyright {
    bottom:0;
    color: white;
    font-size: 0.7em;
    line-height: 40px;
    position: relative;
    text-align: center;
}