body {
    background-color: #042b69;
    color: white;
  }

.nav-container {
    display:flex
}

.nav-container > li {
    color: white;
    flex-basis: 50%;
    font-size: 1.5rem;
    font-weight: bold;
    list-style: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.title {
    color: #eddd2b;
    font-size: 3rem;
  }

.subtitle {
    color: #eddd2b;
    font-size: 2rem;
}

.responsive {
    width: 100%;
    height: auto;
}

/* @media only screen and (max-width: 600px) { */

    aside {
        color: white;
        display: flex;
        font-size: 1.5rem;
        position: absolute;
    }

p {
    color: white;
    display: flex;
    font-size: 1.5rem;
}

.site-map {
    color: white;
    list-style: none;
}

.social-icons {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.random-fact {
}

.footer-container {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    font-size: 1.5rem;
    justify-content: space-evenly;
}

.copyright {
    bottom:0;
    color: white;
    font-size: 0.7em;
    line-height: 40px;
    position: relative;
    text-align: center;
}

/* Font Awesome */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Hover on social icons */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  /*Instagram */
  .fa-instagram {
      background: #C13584;
      color: white;
  }

  /*Youtube */
  .fa-youtube {
      background: red;
      color: white;
  }

